<nav>
  <div class="site-title">
    <a href="/"><h1>Re-Redit</h1></a>
  </div>
  <ul>
    <li><a href="/" class="center">HOME</a></li>
    <li><a href="/topics" class="center">TOPICS</a></li>
    <li><a href="/auth/google" class="center">LOG IN</a></li>
    <li><a href="/logout" class="center">LOGOUT</a></li>
  </ul>
</nav>