:root {
  --main-bg-color: #EAE7DC;
  --nav-color: #E85A4F;
  --nav-text-color: #3e3e3e;
  --text-color: #8E8D8A;
  --soft-red: #E98074;
  --dark-vanilla: #D8C3A5;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Work Sans', sans-serif;
  background-color: var(--main-bg-color);
}

a, ul, p, h1, h2, h3 {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  margin-top: 2rem;
}

.nav-links {
  font-size: .9rem;
  display: flex;
  justify-self: flex-end;
  justify-content: flex-end;
  margin-right: 10px;
}

.nav-links a {
  padding: .3rem .7rem;
  border: 1px solid var(--main-bg-color);
  color: var(--nav-text-color);
}

.nav-links a:hover {
  background-color: var(--nav-color);
  border: 1px solid #3e3e3e;
  color: whitesmoke;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px;
  color: var(--nav-text-color);
  text-align: center;
  margin-right: 10px;
}

nav a {
  color: var(--nav-text-color);
}

.site-title {
  margin-left: 20px;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--soft-red);
  margin-top: 3rem;
}

.main-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}