:root {
  --main-bg-color: #EAE7DC;
  --nav-color: #E85A4F;
  --nav-text-color: #3e3e3e;
  --text-color: #8E8D8A;
  --soft-red: #E98074;
  --dark-vanilla: #D8C3A5;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Work Sans', sans-serif;
  /* background: linear-gradient(var(--main-bg-color), var(--dark-vanilla)); */
  background-color: var(--main-bg-color);
}

a, ul, p, h1, h2, h3 {
  text-decoration: none;
  word-break: break-word;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  margin-top: 2rem;
}

.nav-links {
  font-size: .9rem;
  display: flex;
  justify-self: flex-end;
  justify-content: flex-end;
  margin-right: 10px;
}

.nav-links a {
  padding: .3rem .7rem;
  border: 1px solid var(--main-bg-color);
  color: var(--nav-text-color);
}

.nav-links a:hover {
  background-color: var(--nav-color);
  border: 1px solid #3e3e3e;
  color: whitesmoke;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px;
  color: var(--nav-text-color);
  text-align: center;
  margin-right: 10px;
}

nav a {
  color: var(--nav-text-color);
}

.site-title {
  margin-left: 20px;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--soft-red);
  margin-top: 3rem;
}

.main-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding-right: 2rem;
}

.container {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 150px 150px;
  column-gap: 3rem;
  row-gap: 3rem;
  margin-top: 6rem;
  justify-content: center;
}
.container > * {
  border: 1px solid var(--main-bg-color);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #D8C3A5;
  color: #E85A4F;
}

.container > *:hover {
  background-color: #E98074;
  color: var(--main-bg-color)
}

.topics-header {
  text-align: center;
  text-transform: uppercase;
  color: var(--nav-text-color);
}

.add-topic-btn .tool-tip{
  visibility: hidden;
  width: 30px;
  top: 9%;
  right: 1%;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: .6rem;

  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s;
}

.add-topic-btn:hover .tool-tip {
  opacity: 1;
  visibility: visible;
}

.new-topic {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding:40px;
  margin-top: 30px;
  transform: translate(-50%, -50%);
  /* background: var(--text-color); */
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 1px;
}


.new-topic h2 {
  margin: 0 0 30px;
  padding: 0;
  color: var(--soft-red);
  text-align: center;
}

.new-topic .user-box {
  position: relative;
}

.new-topic .user-box input, .new-topic .user-box textarea{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: var(--text-color);
}



.new-topic form button {
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  color: var(--soft-red);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px
}

.new-topic button:hover {
  cursor: pointer;
  background: var(--soft-red);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--nav-color),
              0 0 25px var(--nav-color),
              0 0 50px var(--nav-color),
              0 0 100px var(--nav-color);
}

.topic-show-title, .thread-show-title {
  text-align: center;
  margin-bottom: 15px;
}

.thread-list, .comment-list {
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  place-items: center;
  padding: 2rem;
}

.topic-thread, .comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
  padding: 10px 10px;
  color: var(--nav-text-color);
  border: 1px solid var(--text-color);
  grid-column-start: 2;
  grid-column-end: 3;
  max-width: 30rem;
  word-wrap: break-word;
  width: 100%;
 
}

.topic-thread h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.thread-options, .comment-options {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 10px;
  align-items: baseline;
}

.thread-options > *, .comment-options > * {
  margin: 0 5px;
}



.topic-thread p {
  font-size: 12px;
  /* font-weight: bold; */
}

.thread-options img, .comment img, .profile img{
  width: 1rem;
}

.new-comment {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.comment-form > textarea {
  width: 20rem;
  color: #fff;
  border: none;
  outline: none;
  background: var(--text-color);
}

.comment-form > button {
  display: block;
  margin-top: 0;
}

.profile {
  width: 100%;
  align-items: flex-start;
  margin-bottom: 10px;
}

.profile img {
  margin-right: 5px;
}

.comment-options input {
  width: 1rem;
  aspect-ratio: 1;
}

.profile-img {
  width: 1rem;
  height: 1rem;
  margin-top: .4rem;
  margin-left: .2rem;
}

textarea {
  resize: none;
}

@media (max-width: 420px) {
  .container {
    display: grid;
    grid-template-columns: 8rem 8rem;
    grid-template-rows: 8rem 8rem 8rem 8rem;
    margin-top: 3rem;
    justify-content: center;
  }
  .nav-links {
    font-size: .6rem;
  }
  .thread-list, .comment-list {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 2rem;
  }
  .comment {
    width: 100%;
  }
}